/*common css start*/
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;
}
/*class container for header, banner*/
.container{
	margin: 0 auto;
	width: 90%;
	/*border: 1px solid black;*/
	overflow: hidden;
}
/*common for blog*/
.blog_container{
	margin: 0 auto;
	width: 80%;
	/*border: 1px solid;*/
	overflow: hidden;
}
.b_tag{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #b4ad9e;
	text-transform: uppercase;
	display: block;
}
.b_title{
	margin: 20px 0 30px;
	font-size: 30px;
	font-weight: 400;

}
.b_paragraph{
	margin-top: 0;
	margin-bottom: 50px;
	line-height: 24px;
}
/*common for blog*/
/*common css end*/
/*header start*/
header{
	padding: 15px 0;
    /*border: 1px solid;*/
}
.logo{
	float: left;
	width: 18%;
	/*border: 1px solid red;*/

}
.logo a{
	margin-top: 9px;
	width: 100%;
	display: inline-block;
	font-family: 'Inconsolata', monospace;
	font-size: 35px;
	font-weight: 400;
	color: black;
	text-decoration: none;
	text-transform: uppercase;
}
.menu{
	float: right;
	width: 70%;
	/*border: 1px solid red;*/

}
.menu ul{
	float: right;

}
.menu ul li{
	float: left;
	list-style: none;

}
.menu ul li a{
	margin: 0 50px;
	padding: 3px 3px;
	display: inline-block;
	color: #626262;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;

}
.menu ul li:last-child a{
	margin-right: 0;

}
.menu ul li a:hover{
	border-bottom: 1px solid #626262;

}
/*header end
/*banner section start*/
.banner{

}
.b_img{

}
.b_img img{
	width: 100%;

}
/*banner section end*/
/*feature blog section start*/
.blog{
	padding: 75px 0px;
}

.blog_content{}

/*feature blog section end*/
/*more blog section start*/
.more_blog{
	padding: 75px 0px;
}
.b_content{
	width: 47%;
	/*border: 1px solid;*/
	float: left;
	margin-bottom: 20px;
}
.b_content img{
	width: 100%;
}
.b_content:nth-child(even){
	margin-left: 6%;
	
}
/*more blog section end*/
/*newsletter section start*/
.news_section{
	padding: 70px 0;
	background-color: #f0f0f0;
	/*min-height: 400px;*/
}
.signup_form{
	text-align: center;

}
.form_h1{
	margin-top: 0;
	margin-bottom: 70px;
	font-size: 30px;
	font-weight: 400; 
	color: #333333;
}
.signup{
	margin: 0 auto;
	width: 400px;
	position: relative;
}
.signup input{
	padding-left: 5px;
	padding-right: 45px; 
	width: 345px;
	height: 45px;
	border: none;
	border-bottom: 1px solid #333333;
	font-family: 'Playfair Display', serif;
	font-size: 16px;
	color: #626262;
	background-color: transparent;
}
.signup input:focus{
	outline: 0;
}
.signup button{
	background: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
	top: 15px;
	right: 0;	
}
.signup button:focus{
	outline: 0;
}
.signup button img{
	
}
/*newsletter section end*/
/*load more section start*/
.load_button{
	text-align: center;
}
.load_button button{
	margin: 50px 0 100px;
	width: 165px;
	height: 60px;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	font-weight: 400;
	color: #626262;
	background: transparent;
	border: 1px solid #313131;
	cursor: pointer;
}
.load_button button:hover{
	background-color: #626262;
	color: white;
}
/*load more section end*/
/*footer start*/
footer{
	padding: 20px 0;
	background-color: #f0f0f0;

}
.privacy_link{
	width: 30%;
	float: left;
	overflow: hidden;

}
.privacy_link ul{
	/*padding: 0;*/ 
	float: left;
}
.privacy_link ul li{
	margin: 0 5px;
	float: left;
	list-style: none;
}
.privacy_link ul li a{
	display: inline-block;
	text-decoration: none;
	color: black;
}
.social_icon{
	width: 30%;
	float: right;

}
.social_icon ul{
	float: right;
}
.social_icon ul li{
	margin: 0 5px;
	float: left;
	list-style: none;

}
.social_icon ul li span{

}
.social_icon ul li a{
	display: inline-block;
	text-decoration: none;
	color: black;

}
.social_icon ul li a img{

}

/*footer end*/